In [1]:
import pandas as pd

Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.
Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.

In [2]:
sbp = pd.read_excel('SBP_by_month.xlsx')
# drop unnamed column
sbp.pop('Unnamed: 0')
sbp.head()

                   memberId      month  systolic_mmHg
0  62a260c03b64e85e96af1d20 2022-07-01         133.08
1  62a260c03b64e85e96af1d20 2022-08-01         131.00
2  62a260c03b64e85e96af1d20 2022-09-01         130.88
3  62a260c03b64e85e96af1d20 2022-10-01         132.91
4  62a260c03b64e85e96af1d20 2022-11-01         127.75

In [3]:
time_series = pd.read_excel('time_series.xlsx')
time_series.head()

,memberId,Enrolled Tasks,age_range,Gender,Is Still Enrolled,datetime_utc,timezone_local,date_local,type,took_medication,...,datetime_local,arrhythmic,systolic BP_mmHg,diastolic BP_mmHg,heart_rate_bp,bg_mmol,meal_type,before_meal,body_weight,weight_change_kg
0,62a260c03b64e85e96af1d1f,"BP, HS",70-74,F,0,NaT,NaN,NaT,NaN,NaN,...,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,62a260c03b64e85e96af1d20,"BP, HS",45-49,M,1,2022-07-24 01:22:43,America/Los_Angeles,2022-07-23,BP,1.0,...,2022-07-23 18:22:43,0.0,129.0,94.0,NaN,NaN,NaN,NaN,NaN,NaN
2,62a260c03b64e85e96af1d20,"BP, HS",45-49,M,1,2022-07-24 01:37:00,America/Los_Angeles,2022-07-23,BP,1.0,...,2022-07-23 18:37:00,0.0,123.0,94.0,NaN,NaN,NaN,NaN,NaN,NaN
3,62a260c03b64e85e96af1d20,"BP, HS",45-49,M,1,2022-07-24 15:58:59,America/Los_Angeles,2022-07-24,BP,1.0,...,2022-07-24 08:58:59,0.0,131.0,97.0,NaN,NaN,NaN,NaN,NaN,NaN
4,62a260c03b64e85e96af1d20,"BP, HS",45-49,M,1,2022-07-25 05:58:04,America/Los_Angeles,2022-07-24,BP,1.0,...,2022-07-24 22:58:04,0.0,135.0,91.0,NaN,NaN,NaN,NaN,NaN,NaN